<div class="titleArea">
    <div class="w1200">
        <ul class="pageUtil">
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
        <h2 class="f_bold">FAQ</h2>
        <div class="faq_searchBox">
            <div>
            <select name="fqa_searchCondition" id="faq_searchCondition" class="faq_ST faq_col">
                <option value>전체</option>
                <option value="">은행업무</option>
                <option value="">전자금융업무</option>
                <option value="">퇴직연금업무</option>
            </select>
            <div>
            <div>
                <input id="faq_searchKeyword" class="faq_searchKeyword faq_col" type="text" placeholder="검색어 입력" title="검색어 입력">
            </div>
            <button type="button" id="faq_btn" class="f_regular">검색</button>
        </div>
            </div>  
        </div>
        <section>
            <ul class="faq_tabList">
                <li class="faq_tablink f_gray2 active" onclick="tabOpen(event, 'faq_tab1')">전체</li>
                <li class="faq_tablink f_gray2" onclick="tabOpen(event, 'faq_tab2')">은행업무</li>
                <li class="faq_tablink f_gray2" onclick="tabOpen(event, 'faq_tab3')">전자금융업무</li>
                <li class="faq_tablink f_gray2" onclick="tabOpen(event, 'faq_tab4')">퇴직연금업무</li>
            </ul>
            <div id="faq_tab1" class="faq_tabcont">
            <div class="faqTop">
                <div class="faq_totalP">
                    <p class="f_gray2">총 9건</p>
                </div>
                <div class="faq_order">
                    <select name="faq_viewPage" id="faq_viewPage" class="faq_ST faq_col">
                        <option value="10">10 개씩 보기</option>
                        <option value="20">20 개씩 보기</option>
                        <option value="30">30 개씩 보기</option>
                        <option value="50">50 개씩 보기</option>
                    </select>
                    <button type="button" class="faq_viewPageBtn f_regular">확인</button>
                </div>
            </div>

                   <div class="faq_title faq_tabcont_1st"><span>9</span><p class="faqTab_tit">적금이 미납되었는데요</p> </div>
                    <div class="faqTab_text"><p class="faqTab_innertext">적금의 경우 자동이체일 이후에는 결제 계좌에 잔액이 있어도 추가 인출이 불가하시기 때문에 고객님께서 직접 고객님의 적금계좌로 
                        계좌이체를 하시면 됩니다.</p></div>

                   <div class="faq_title"><span>8</span><p class="faqTab_tit">예금을 해지하려면 어떻게 해야 하나요?</p> </div>
                    <div class="faqTab_text"><p class="faqTab_innertext">예금의 해지는 예금주 본인이 실명확인증표, 거래통장, 거래인감을 지참하여 가까운 영업점에 내방하셔야 합니다.<br>
                        <br>
                        단, 미성년자의 경우 미성년 단독으로 해지는 불가하며, 법정대리인이 법정대리인 확인서류, 실명확인증표, 거래통장, 거래인감을 지참하고 영업점에 방문하셔야 해지 가능합니다.
                        * 법정대리인 확인서류
                        - 친권자 : 미성년자 본인명의의 기본증명서(3개월 이내), 가족관계서류
                        - 후견인 : 미성년자 본인명의의 기본증명서(3개월 이내)<br>
                        <br>
                        ※ 본인 방문 불가 시 대리인(가족 포함) 구비서류<br>
                        - 대리인 및 예금주의 실명확인증표, 예금주의 인감증명서(3개월 이내), 인감도장 날인한 위임장, 예금주의 거래통장, 거래인감</p></div>

                   <div class="faq_title"><span>7</span><p class="faqTab_tit">예금계좌 신규시 필요서류를 알려주세요.</p> </div>
                    <div class="faqTab_text"><p class="faqTab_innertext">1. 본인이 직접 영업점에 방문하는 경우<br>
                        - 실명확인증표, 거래인감(서명 가능)<br>
                        <br>
                        2. 가족이 영업점에 방문하는 경우<br>
                        - 내방인의 실명확인증표, 가족관계서류(3개월 이내), 거래인감<br>
                        ※ 가족의 범위 : 배우자, 직계존비속(형제, 자매 제외)<br>
                        <br>
                        3. 대리인이 영업점에 방문하는 경우<br>
                        - 대리인 및 예금주의 실명확인증표, 예금주의 인감증명서(3개월 이내), 인감도장 날인된 위임장, 거래인감</p></div>

                   <div class="faq_title"><span>6</span><p class="faqTab_tit">정기적금에 가입하고 있는데 불입금액 이외에 추가불입이 가능한가요.</p> </div>
                    <div class="faqTab_text"><p class="faqTab_innertext">정기적금은 매월 일정한 금액을 불입하는 상품으로 추가로 입금하시는 것은 <br>불가능합니다.</p></div>

                   <div class="faq_title"><span>5</span><p class="faqTab_tit">적금이 만기가 되었는데 어떻게 해지 하나요.</p> </div>
                    <div class="faqTab_text"><p class="faqTab_innertext">당사 인터넷뱅킹에 가입하신 고객님께서는 영업점 방문없이 인터넷으로 해지가 가능하시며, 당행 인터넷뱅킹에 가입하시지 않은 고객님께서는 영업점에 방문하셔서 해지하셔야 합니다.</p></div>

                   <div class="faq_title"><span>4</span><p class="faqTab_tit">단리 정기예금 이자처리</p> </div>
                    <div class="faqTab_text"><p class="faqTab_innertext">[자동이체를 통해 단리 정기예금 이자를 지급받으셨던 고객]<br>
                    영업개시일 이후 자동이체가 정상적으로 재개되며, 영업정지 기간 동안 미지급된 이자는 영업개시 후 고객의 기존 연결계좌로 일괄 입금 처리됩니다.
                    </p></div>

                   <div class="faq_title"><span>3</span><p class="faqTab_tit">장기주택마련저축 가지급금에 대한 소득공제</p> </div>
                    <div class="faqTab_text"><p class="faqTab_innertext">- 가지급금 지급받은 경우 특별중도해지처리 됨에 따라 기존에 받으셨던 소득공제 부분에 대한 추징이나 비과세 부분의 세금추징이 되지 않습니다. <br>
                        <br>
                    - 가지급금을 지급받지 않은 경우에는 정상적인 계약으로 유지되기 때문에 가지급금을 받지 않은 장기주택마련저축을 고객님의 요청으로 해지하게 되면 소득공제 부분이 추징되며, 일반과세로 처리됩니다.
                    </p></div>

                   <div class="faq_title"><span>2</span><p class="faqTab_tit">가지급금 적용금리 안내</p> </div>
                    <div class="faqTab_text"><p class="faqTab_innertext">[가지급금으로 원금 전액을 지급 받으신 경우]<br>
                        가지급금 지급 받은 전일까지 미수령한 이자는 가입 당시 약정금리로 계산하여 일괄정산처리 후 고객 보통예금계좌에 입금 처리해드립니다.<br>
                        보통예금이 없는 고객분은 고객가수금 계좌로 일괄입금 처리한 후 고객 방문시 인출해 드립니다.<br>
                        <br>
                        [가지급금으로 일부 금액을 지급 받으신 경우]<br>
                        - 가지급금 원금에 대한 이자 : 가지급금 지급 받은 전일까지 가지급금 받은 금액에 대하여 약정금리로 이자가 계산되며, 가지급금 지급 받은 원금의 이자금액은 일괄정산처리 후  고객 보통예금에 입금해 드립니다.<br>
                        보통예금이 없는 고객분은 고객가수금 계좌로 일괄입금 처리한 후 고객 방문시 인출해드립니다.<br>
                        - 가지급금 외 예금잔액: 가지급금을 제외한 잔액에 대해서는 가지급금 지급일을 시점으로 만기 경과, 미경과 여부에 따라 위의 [예금/적금]1.예금/적금적용금리안내 가,나 원칙이 동일하게 적용 됩니다.<br>
                        <br>
                        [적금]<br>
                        (1)가지급금 원금과 동일한 금액만 분할 해지하고 잔액은 새로운 계좌 개설<br>
                        (2)새로운계좌 개설시 월 불입금액은 가지급금을 뺀 나머지 잔액을 불입회차로 나누어 산정됩니다.<br>
                        (가지급금액을 뺀 나머지 잔액/불입회차 = 월불입금)<br>
                        ※ 약정기간의 3분의2이상을 불입하지 않은 경우 추가불입이 불가하며 중도해지 처리합니다.<br>
                        <br>
                        [보통예금]<br>
                        (1)가지급금 원금과 동일한 금액만 가지급금 지급일로 기산일 출금하여 가지급금 정산<br>
                        (2)나머지 잔액은 기존 보통계좌로 유지됩니다. <br>
                        (3)영업개시 후 일괄적으로 이자원가 처리합니다. <br>
                    
                    </p></div>

                   <div class="faq_title "><span>1</span><p class="faqTab_tit">인터넷으로 예금 가입 문의</p> </div>
                    <div class="faqTab_text"><p class="faqTab_innertext">당행 인터넷뱅킹에 가입하지 않으신 고객님께서는 본인이 직접 신분증 지참 후 영업점에 방문하셔서 인터넷뱅킹에 가입하시면 인터넷으로 예금 가입이 가능합니다.</p></div>

                </div>
                <div id="faq_tab2" class="faq_tabcont">
                    <div class="faqTop">
                        <div class="faq_totalP">
                            <p class="f_gray2">총 5건</p>
                        </div>
                        <div class="faq_order">
                            <select name="faq_viewPage" id="faq_viewPage" class="faq_ST faq_col">
                                <option value="10">10 개씩 보기</option>
                                <option value="20">20 개씩 보기</option>
                                <option value="30">30 개씩 보기</option>
                                <option value="50">50 개씩 보기</option>
                            </select>
                            <button type="button" class="faq_viewPageBtn f_regular">확인</button>
                        </div>
                    </div>
                    <div class="faq_title faq_tabcont_1st"><span>5</span><p class="faqTab_tit">예금을 해지하려면 어떻게 해야 하나요?</p> </div>
                    <div class="faqTab_text"><p class="faqTab_innertext">예금의 해지는 예금주 본인이 실명확인증표, 거래통장, 거래인감을 지참하여 가까운 영업점에 내방하셔야 합니다.<br>
                        <br>
                        단, 미성년자의 경우 미성년 단독으로 해지는 불가하며, 법정대리인이 법정대리인 확인서류, 실명확인증표, 거래통장, 거래인감을 지참하고 영업점에 방문하셔야 해지 가능합니다.
                        * 법정대리인 확인서류
                        - 친권자 : 미성년자 본인명의의 기본증명서(3개월 이내), 가족관계서류
                        - 후견인 : 미성년자 본인명의의 기본증명서(3개월 이내)<br>
                        <br>
                        ※ 본인 방문 불가 시 대리인(가족 포함) 구비서류<br>
                        - 대리인 및 예금주의 실명확인증표, 예금주의 인감증명서(3개월 이내), 인감도장 날인한 위임장, 예금주의 거래통장, 거래인감</p></div>

                   <div class="faq_title"><span>4</span><p class="faqTab_tit">예금계좌 신규시 필요서류를 알려주세요.</p> </div>
                    <div class="faqTab_text"><p class="faqTab_innertext">1. 본인이 직접 영업점에 방문하는 경우<br>
                        - 실명확인증표, 거래인감(서명 가능)<br>
                        <br>
                        2. 가족이 영업점에 방문하는 경우<br>
                        - 내방인의 실명확인증표, 가족관계서류(3개월 이내), 거래인감<br>
                        ※ 가족의 범위 : 배우자, 직계존비속(형제, 자매 제외)<br>
                        <br>
                        3. 대리인이 영업점에 방문하는 경우<br>
                        - 대리인 및 예금주의 실명확인증표, 예금주의 인감증명서(3개월 이내), 인감도장 날인된 위임장, 거래인감</p></div>

                        <div class="faq_title"><span>3</span><p class="faqTab_tit">단리 정기예금 이자처리</p> </div>
                        <div class="faqTab_text"><p class="faqTab_innertext">[자동이체를 통해 단리 정기예금 이자를 지급받으셨던 고객]<br>
                        영업개시일 이후 자동이체가 정상적으로 재개되며, 영업정지 기간 동안 미지급된 이자는 영업개시 후 고객의 기존 연결계좌로 일괄 입금 처리됩니다.
                        </p></div>
    
                       <div class="faq_title"><span>2</span><p class="faqTab_tit">장기주택마련저축 가지급금에 대한 소득공제</p> </div>
                        <div class="faqTab_text"><p class="faqTab_innertext">- 가지급금 지급받은 경우 특별중도해지처리 됨에 따라 기존에 받으셨던 소득공제 부분에 대한 추징이나 비과세 부분의 세금추징이 되지 않습니다. <br>
                            <br>
                        - 가지급금을 지급받지 않은 경우에는 정상적인 계약으로 유지되기 때문에 가지급금을 받지 않은 장기주택마련저축을 고객님의 요청으로 해지하게 되면 소득공제 부분이 추징되며, 일반과세로 처리됩니다.
                        </p></div>
    
                       <div class="faq_title"><span>1</span><p class="faqTab_tit">가지급금 적용금리 안내</p> </div>
                        <div class="faqTab_text"><p class="faqTab_innertext">[가지급금으로 원금 전액을 지급 받으신 경우]<br>
                            가지급금 지급 받은 전일까지 미수령한 이자는 가입 당시 약정금리로 계산하여 일괄정산처리 후 고객 보통예금계좌에 입금 처리해드립니다.<br>
                            보통예금이 없는 고객분은 고객가수금 계좌로 일괄입금 처리한 후 고객 방문시 인출해 드립니다.<br>
                            <br>
                            [가지급금으로 일부 금액을 지급 받으신 경우]<br>
                            - 가지급금 원금에 대한 이자 : 가지급금 지급 받은 전일까지 가지급금 받은 금액에 대하여 약정금리로 이자가 계산되며, 가지급금 지급 받은 원금의 이자금액은 일괄정산처리 후  고객 보통예금에 입금해 드립니다.<br>
                            보통예금이 없는 고객분은 고객가수금 계좌로 일괄입금 처리한 후 고객 방문시 인출해드립니다.<br>
                            - 가지급금 외 예금잔액: 가지급금을 제외한 잔액에 대해서는 가지급금 지급일을 시점으로 만기 경과, 미경과 여부에 따라 위의 [예금/적금]1.예금/적금적용금리안내 가,나 원칙이 동일하게 적용 됩니다.<br>
                            <br>
                            [적금]<br>
                            (1)가지급금 원금과 동일한 금액만 분할 해지하고 잔액은 새로운 계좌 개설<br>
                            (2)새로운계좌 개설시 월 불입금액은 가지급금을 뺀 나머지 잔액을 불입회차로 나누어 산정됩니다.<br>
                            (가지급금액을 뺀 나머지 잔액/불입회차 = 월불입금)<br>
                            ※ 약정기간의 3분의2이상을 불입하지 않은 경우 추가불입이 불가하며 중도해지 처리합니다.<br>
                            <br>
                            [보통예금]<br>
                            (1)가지급금 원금과 동일한 금액만 가지급금 지급일로 기산일 출금하여 가지급금 정산<br>
                            (2)나머지 잔액은 기존 보통계좌로 유지됩니다. <br>
                            (3)영업개시 후 일괄적으로 이자원가 처리합니다. <br>
                        
                        </p></div>
                </div>
                <div id="faq_tab3" class="faq_tabcont">
                    <div class="faqTop">
                        <div class="faq_totalP">
                            <p class="f_gray2">총 2건</p>
                        </div>
                        <div class="faq_order">
                            <select name="faq_viewPage" id="faq_viewPage" class="faq_ST faq_col">
                                <option value="10">10 개씩 보기</option>
                                <option value="20">20 개씩 보기</option>
                                <option value="30">30 개씩 보기</option>
                                <option value="50">50 개씩 보기</option>
                            </select>
                            <button type="button" class="faq_viewPageBtn f_regular">확인</button>
                        </div>
                    </div>
                    <div class="faq_title faq_tabcont_1st"><span>2</span><p class="faqTab_tit">적금이 만기가 되었는데 어떻게 해지 하나요.</p> </div>
                    <div class="faqTab_text"><p class="faqTab_innertext">당사 인터넷뱅킹에 가입하신 고객님께서는 영업점 방문없이 인터넷으로 해지가 가능하시며, 당행 인터넷뱅킹에 가입하시지 않은 고객님께서는 영업점에 방문하셔서 해지하셔야 합니다.</p></div>
    
                    <div class="faq_title"><span>1</span><p class="faqTab_tit">인터넷으로 예금 가입 문의</p> </div>
                    <div class="faqTab_text"><p class="faqTab_innertext">당행 인터넷뱅킹에 가입하지 않으신 고객님께서는 본인이 직접 신분증 지참 후 영업점에 방문하셔서 인터넷뱅킹에 가입하시면 인터넷으로 예금 가입이 가능합니다.</p></div>
                </div>
                <div id="faq_tab4" class="faq_tabcont">
                    <div class="faqTop">
                        <div class="faq_totalP">
                            <p class="f_gray2">총 2건</p>
                        </div>
                        <div class="faq_order">
                            <select name="faq_viewPage" id="faq_viewPage" class="faq_ST faq_col">
                                <option value="10">10 개씩 보기</option>
                                <option value="20">20 개씩 보기</option>
                                <option value="30">30 개씩 보기</option>
                                <option value="50">50 개씩 보기</option>
                            </select>
                            <button type="button" class="faq_viewPageBtn f_regular">확인</button>
                        </div>
                    </div>
                    <div class="faq_title faq_tabcont_1st"><span>2</span><p class="faqTab_tit">적금이 미납되었는데요</p> </div>
                    <div class="faqTab_text"><p class="faqTab_innertext">적금의 경우 자동이체일 이후에는 결제 계좌에 잔액이 있어도 추가 인출이 불가하시기 때문에 고객님께서 직접 고객님의 적금계좌로 
                        계좌이체를 하시면 됩니다.</p></div>

                        <div class="faq_title"><span>1</span><p class="faqTab_tit">정기적금에 가입하고 있는데 불입금액 이외에 추가불입이 가능한가요.</p> </div>
                        <div class="faqTab_text"><p class="faqTab_innertext">정기적금은 매월 일정한 금액을 불입하는 상품으로 추가로 입금하시는 것은 <br>불가능합니다.</p></div>
                </div>

                        <!-- 페이징 -->
        <nav class="list_paging faq_paging">
            <button class="pageBtn page_first"></button>
            <button class="pageBtn page_prev"></button>
            <ol>
                <li></li>
                <li><a href="">1</a></li>
                <li></li>
            </ol>
            <button class="pageBtn page_next"></button>
            <button class="pageBtn page_last"></button>
        </nav>
    </section>
            </div>
        <section class="faq_bottomHelp">
            <div class="w1200">
                <h3 class="f_regular f_gray2">무엇을 도와드릴까요?</h3>
                <ul>
                    <li>
                        <p>전화상담 예약</p>
                        <h4 class="f_regular f_gray2">365일 24시간 신청</h4>
                        <a href=""><h4 class="f_regular">상담신청</h4></a>
                    </li>
                    <li>
                        <p>온라인 상담</p>
                        <h4 class="f_regular f_gray2">365일 24시간 신청</h4>
                        <a href=""><h4 class="f_regular">상담신청</h4></a>
                    </li>
                    <li>
                        <p>화면공유 상담</p>
                        <h4 class="f_regular f_gray2">평일(은행휴무일 제외)<br> 09:00~18:00 신청</h4>
                        <a href=""><h4 class="f_regular">상담신청</h4></a>
                    </li>
                </ul>
            </div>
        </section>
  </div>
</div>
<div id="topBtn" class="f_gray2"><h4>TOP</h4></div>


<script src="js/faqPage.js"></script>
