<footer>
  <section class="footer_wrap w1200">
    <div class="footer_m_wrap mobile ">
      <div class="footer_left">
        <div class="footer_call_wrap">
          <span class="footer_call">
            <p>불법사금융피해 신고센터</p>
            <h3>1332 : 3번</h3>
          </span>
          <div class="footer_bar"></div>
          <span class="footer_call">
            <p>금융사기신고 야간콜센터 </p>
            <h3>02)3978-600,800</h3>
          </span>
        </div>
        <p>보호상품금융등록부 <br>
          불법개인정보를 이용한 금융사기관련 유의사항 안내<br>
          금융사기 피해예방홍보동영상 보러가기</p>
      </div>
      <div class="footer_icon">
        <div class="footer_icon_blog">
        </div>
        <div class="footer_icon_facebook">
        </div>
        <div class="footer_icon_ytub">
        </div>      
        <select name="KB_selectBox" id="KB_selectBox">
          <option value="KB그룹 금융 네트워크">KB그룹 금융 네트워크</option>
          <option value="푸르덴셜생명">푸르덴셜생명</option>
          <option value="KB경영연구소">KB경영연구소</option>
          <option value="KB데이타시스템">KB데이타시스템</option>
          <option value="KB신용정보">KB신용정보</option>
          <option value="KB인베스트먼트">KB인베스트먼트</option>
          <option value="KB부동산신탁">KB부동산신탁</option>
          <option value="KB캐피탈">KB캐피탈</option>
          <option value="KB자산운용">KB자산운용</option>
          <option value="KB생명보험">KB생명보험</option>
          <option value="KB증권">KB증권</option>
          <option value="KB손해보험">KB손해보험</option>
          <option value="KB국민카드">KB국민카드</option>
          <option value="KB국민은행">KB국민은행</option>
          <option value="KB금융그룹">KB금융그룹</option>
        </select>
      </div>
    </div>
    <article class="footer_wrap_top">
      <div class="footer_right">
        <div class="footer_right_top">
          <ul>
            <li>
              <p>신용정보조회</p>
            </li>
            <li>
              <p>저축은행중앙회</p>
            </li>
            <li>
              <p>금융감독원</p>
            </li>
            <li>
              <p>서민금융1332서비스</p>
            </li>
            <li>
              <p>채권추심 처리절차 및 불법추심 대응요령</p>
            </li>
            <li>
              <p>소명시효 완성채권 추심 관련 금융소비자 유의사항</p>
            </li>
            <li>
              <p>그룹 내 고객정보 제공내역</p>
            </li>
          </ul>
          <div class="footer_right_bottom">
            <p>사업자 등록번호 : 215-87-62778대표이사 허상철 주소 서울시 송파구 송파대로 260전화 1899-0900 <br>
              KB저축은행의 모바일뱅크 kiwibank고객센터 : 1899-0900 <br>
              Copyright © 2016 KB Savings Bank Co., Ltd All Right Reserved.</p>
          </div>
        </div>
      </div>
      <div class="footer_left desk">
        <div class="footer_call_wrap">
          <span class="footer_call">
            <p>불법사금융피해 신고센터</p>
            <h3>1332 : 3번</h3>
          </span>
          <div class="footer_bar"></div>
          <span class="footer_call">
            <p>금융사기신고 야간콜센터 </p>
            <h3>02)3978-600,800</h3>
          </span>
        </div>
        <p>보호상품금융등록부 <br>
          불법개인정보를 이용한 금융사기관련 유의사항 안내<br>
          금융사기 피해예방홍보동영상 보러가기</p>
      </div>
  </article>
  <article class="footer_wrap_bottom">
    <div class="footer_logo">
      <img src="img/footer/KB_logo.png" alt="">
    </div>
    <div class="footer_icon">
      <div class="footer_icon_blog desk">
      </div>
      <div class="footer_icon_facebook desk">
      </div>
      <div class="footer_icon_ytub desk">
      </div>      
      <select name="KB_selectBox" id="KB_selectBox" class="desk">
        <option value="KB그룹 금융 네트워크">KB그룹 금융 네트워크</option>
        <option value="푸르덴셜생명">푸르덴셜생명</option>
        <option value="KB경영연구소">KB경영연구소</option>
        <option value="KB데이타시스템">KB데이타시스템</option>
        <option value="KB신용정보">KB신용정보</option>
        <option value="KB인베스트먼트">KB인베스트먼트</option>
        <option value="KB부동산신탁">KB부동산신탁</option>
        <option value="KB캐피탈">KB캐피탈</option>
        <option value="KB자산운용">KB자산운용</option>
        <option value="KB생명보험">KB생명보험</option>
        <option value="KB증권">KB증권</option>
        <option value="KB손해보험">KB손해보험</option>
        <option value="KB국민카드">KB국민카드</option>
        <option value="KB국민은행">KB국민은행</option>
        <option value="KB금융그룹">KB금융그룹</option>
      </select>
    </div>
  </article>
  </section>
</footer>