<header>
  <div class="topArea">
    <div class="topWrap w1200">
      <div class="topArea_right">
        <ul>
          <li><a href="cardsub_List">카드신청조회</a></li>
          <li><a href="">인증센터</a></li>
          <li><a href="">ENG</a></li>
        </ul>
        <div class="utilSearch">
          <input type="text" id="SRbox" title="검색어 입력" autocomplete="off">
          <button class="searchBtn"><span>검색</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="gnbArea">
    <nav class="gnb w1200" id="gnb">
      <div id="gnb_bg"></div>
      <div class="nav_left">
        <h1 class="kbLogo">
          <a href="/">
            <img src="img/header/KB_logo.png" alt="">
          </a>
        </h1>
        <div class="menu">
          <ul>
            <li><a href="">예금상품</a>
              <ul class="lnb">
                <li><a href="/productEplus">정기예금</a></li>
                <li><a href="">정기적금</a></li>
                <li><a href="">자유적립예금</a></li>
                <li><a href="">입출금자유예금</a></li>
              </ul>
            </li>
            <li><a href="">대출상품</a>
              <ul class="lnb">
                <li><a href="/productKiwi">kiwi신용대출</a></li>
                <li><a href="">사잇돌2대출</a></li>
                <li><a href="">KB햇살론</a></li>
                <li><a href="">KB스탁론</a></li>
                <li><a href="">기업대출/PF대출</a></li>
              </ul>
            </li>
            <li><a href="">고객센터</a>
              <ul class="lnb">
                <li><a href="/faqPage">FAQ</a></li>
                <li><a href="/sub_noticeList">공지사항</a></li>
                <li><a href="">고객문의 민원</a></li>
                <li><a href="">고객제안</a></li>
                <li><a href="">증명서발급</a></li>
              </ul>
            </li>
            <li><a href="">상품공시실</a>
              <ul class="lnb">
                <li><a href="/calculator">금융계산기</a></li>
                <li><a href="">상품공시이용메뉴얼</a></li>
                <li><a href="">예금상품</a></li>
                <li><a href="">대출상품</a></li>
                <li><a href="">부대비용</a></li>
              </ul>
            </li>
            <li><a href="">인터넷뱅킹</a>
              <ul class="lnb">
                <li><a href="/accountInquiry">계좌조회</a></li>
                <li><a href="">즉시이체</a></li>
                <li><a href="">예금신규</a></li>
                <li><a href="">예적금담보대출</a></li>
                <li><a href="">인증센터</a></li>
              </ul>
            </li>
            <li><a href="">kiwibank</a>
              <ul class="lnb">
                <li><a href="">kiwi입출금통장</a></li>
                <li><a href="">KB꿀적금</a></li>
                <li><a href="">예금신규</a></li>
                <li><a href="">통합한도조회</a></li>
                <li><a href="">자동전환대출</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="nav_right">
        <ul>
          <li class="gnbBtn_Login">
            <a href="/login" class="gnbBtn_Login_b"></a>
            <a href="/login" class="gnbBtn_Login_y"></a>
          </li>
          <li class="gnbBtn_Sitemap">
            <a href="" class="gnbBtn_Sitemap_b"></a>
            <a href="/siteMapPage" class="gnbBtn_Sitemap_y"></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<script src="js/header.js"></script>