<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/common/reset.css">
  <link rel="stylesheet" href="css/common/commonSetting.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="css/common/header.css">
  <link rel="stylesheet" href="css/common/footer.css">
  <link rel="stylesheet" href="css/mainPage.css">
  <link rel="stylesheet" href="css/notice_write.css">
  <link rel="stylesheet" href="css/loginPage.css">
  <link rel="stylesheet" href="css/sub_noticeList.css">
  <link rel="stylesheet" href="css/join1Page.css">
  <link rel="stylesheet" href="css/join2Page.css">
  <link rel="stylesheet" href="css/notiConPage.css">
  <link rel="stylesheet" href="css/faqPage.css">
  <link rel="stylesheet" href="css/titleArea.css">
  <link rel="stylesheet" href="css/calculatorPage.css">
  <link rel="stylesheet" href="css/product.css">
  <link rel="stylesheet" href="css/siteMapPage.css">
  <link rel="stylesheet" href="css/cardsub.css">
  <link rel="stylesheet" href="css/accountInquiry.css">
  <link rel="stylesheet" href="css/cardThum_List.css">
  <link rel="stylesheet" href="css/cardThum_Con.css">
  <link rel="stylesheet" href="css/cardThum_write.css">
  <link rel="stylesheet" href="css/cardThum_upDate.css">
  
</head>

<body>
  <div id="header">
    <%- include('header') %>
  </div>
  <main id="main">
    <%- body %>
  </main>
  <div id="footer">
    <%- include('footer') %>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <script src="js/swiper.js"></script>
  <script src="js/mainPage.js"></script>

</body>

</html>