<div class="product_title_wrap">
  <div class="titleArea">
        <div class="w1200">
            <ul class="pageUtil">
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
            <h4 class="product_tag f_gray2 f_regular">#온라인전용 #개인 #예금자보호 #확정금리 </h4>
            <h2 class="product_title f_bold">KB e-plus정기예금</h2>
            <p class="f_gray2">일정기간 여유자금을 예금하시면 확정 금리로 높은 수익을 드리는 온라인 가입 전용상품입니다.</p>
            <ul class="product_cond">
              <div class="squar_wrap">
                <li class="product_squar">
                </li>
                <div class="cond_ment">
                  <h4 class="f_regular">가입대상</h4>
                  <p class="f_medium">누구나 가능</p>
                </div>
              </div>
              <div class="squar_wrap">
                <li class="product_squar">
                </li>
                <div class="cond_ment">
                  <h4 class="f_regular">가입 금액</h4>
                  <p class="f_medium">100만원 이상</p>
                </div>
              </div>
              <div class="squar_wrap">
                <li class="product_squar">
                </li>
                <div class="cond_ment">
                  <h4 class="f_regular">이율</h4>
                  <h4 class="f_medium">최고 <span class="pink">연<span class="f16">5.6%</span></span>(12개월)</h4>
                </div>
              </div>
            </ul>
      </div>
    </div>
</div>
<section class="product_main w1200">
  <article class="product_left productdesk">
    <p class="f_medium">상품안내</p>
    <p class="f_medium">금리안내</p>
    <p class="f_medium">상품약관</p>
    <ul>
      <li class="f_gray1"><a href="file/file01.pdf" download="예금거래 기본약관.pdf">예금거래 기본약관</a></li>
      <li class="f_gray1"><a href="file/file02.pdf" download="거치식예금.pdf">거치식예금</a></li>
      <li class="f_gray1"><a href="file/file03.pdf" download="정기예금 특별약관.pdf">정기예금 특별약관</a></li>
      <li class="f_gray1"><a href="file/file04.pdf" download="KB e-plus 정기예금 상품설명서.pdf">KB e-plus 정기예금 상품설명서</a></li>
    </ul>
  </article>
  <article class="product_right">
    <ul class="product_btn">
      <li class="product_like">
        <img src="img/2.solution/like.png" alt="">
        <p class="f_medium">관심상품</p></li>
      <li class="product_compar">
        <img src="img/2.solution/plus.png" alt="">
        <p class="f_medium">비교하기</p></li>
      <li class="product_join"><p class="f_medium">가입하기</p></li>
    </ul>
    <div class="product_section">
      <h3>상품안내</h3>
      <p class="f_gray1">일정기간 여유자금을 예금하시면 확정 금리로 높은 수익을 드리는 온라인 가입 전용상품입니다.</p>
    </div>
    <div class="product_section">
      <h3>가입대상</h3>
      <p class="f_gray1">제한 없음
      </p>
    </div>
    <div class="product_section">
      <h3>가입기간</h3>
      <p class="f_gray1">3개월~36개월(월 단위, 일 단위)</p>
    </div>
    <div class="product_section">
      <h3>가입금액</h3>
      <p class="f_gray1">100만원 이상</p>
    </div>
    <div class="product_section">
      <h3>이자지급 시기 및 방법</h3>
      <p class="f_gray1">1) 단리예금 : 매월 이자를 지급받는 상품<br>
        2) 복리예금 : 매월 발생하는 이자가 원금에 포함, 복리 계산되어 만기 시 한번에 지급받는 상품<br>
        예금을 만기지급 식으로 가입하셨어도 고객님이 필요하시면 매월 이자지급식으로 전환하시어 매월 이자를 수령할 수
        있습니다. 다만, 이자지급식으로 전환시에는 창구 방문을 통해 가능합니다. <br>
        예금액 중 일부 금액이 필요하신 경우에 필요하신 금액만큼 자유로이 분할 해지(3회 이내)가 가능합니다. <br>
        이자지급식의 경우에 매월 발생하는 이자를 고객이 지정한 당행 또는 시중은행 보통예금계좌로 자동이체 해드립니다.</p>
    </div>
    <div class="product_section">
      <h3>중도해지 또는 만기시 처리방법</h3>
      <p class="f_gray1">영업점 방문, 인터넷뱅킹, 모바일뱅킹<br>
        만기해지 포함 4회이내 분할해지 가능 (단, 분할해지 후 잔액은 100만원 이상)</p>
    </div>
    <div class="product_section">
      <h3>비과세 저축으로 가입가능</h3>
      <p class="f_gray1">ㆍ만 65세 이상의 거주자, 장애인복지법에 의하여 등록한 장애인, 국가 유공자증에 의한 상이자, 고엽제휴유의증 환자,<br>5.18민주화운동 부상자, 독립유공자와 그 유족 또는 가족, 기초생활 보장 수급자<br>
        : 전 금융기관 합산하여 1인당 5,000만원 이내<br>
        직전 3개 과세기간 내 1회 이상 금융소득 종합과세 대상자(금융소득 연간 합계액 2천만원 초과)는 제외<br>
        ※ 장애인 / 국가유공자 / 독립유공자 / 기초생활수급자 등의 비과세 혜택은 창구 내방 시 적용가능<br>
        ※ 관련세법이 개정될 경우 세율이 변경되거나 세금이 부과될 수 있으며, 계약기간 만료일 이후의 이자는 과세됨</p>
    </div>
    <div class="product_notice">
      <div class="product_notice_title">
        <h3>알려드립니다.</h3>
      </div>
      <span class="pink_line"></span>
      <ul class="productinfo">
        <h3>기타알아두실 사항</h3>
        <li class="f_gray1">만기전 해지할 경우 약정한 이율보다 낮은 중도해지이율이 적용됩니다.</li>
        <li class="f_gray1">이 안내장은 상품에 대한 이해를 돕고 약관의 중요내용을 알려드리기 위한 참고자료이며, 실제 계약은 정기예금특약,
          거치식예금약관 및 예금거래기본약관이 적용됩니다. 약관은 창구 및 KB저축은행 홈페이지에서 교부 및 열람이 가능합니다.</li>
        <li class="f_gray1">계약 체결 전 상품설명서 및 약관을 확인하시기 바랍니다. 해당 상품에 대해 충분한 사전 설명을 받을 권리가 있으며, 
          설명을 이해한 후 거래하시기 바랍니다.</li>
        <li class="f_gray1">기타 자세한 내용은 창구직원 또는 고객센터(1899-0900) 문의하시거나, KB저축은행 홈페이지를 참조하시기 바랍니다.</li>
      </ul>
    </div>
  </article>
  <article class="product_protect">
    <div class="protect_right">
      <p>예금자보호</p>
      <p class="f_gray2 f_medium">이 예금은 예금자보호법에 따라 예금보험공사가 보호하되, 보호한도는 본 은행에 있는 귀하의 모든 예금보호 대상 금융상품의 원금과
        소정의 이자를 합하여 1인당”최고 5천만원”이며, 5천만원을 초과하는 나머지 금액은 보호하지 않습니다.</p>
    </div>
    <div class="protect_left">
    </div>

  </article>
</section>
<article class="prodect_confir w1200">
  <p><span class="f_bold f_gray1">KB저축은행 준법감시인 심의필</span> <span class="f_gray2">제2021-184호(2021.06.17)</span></p>
  <p><span class="f_bold f_gray1">ISO37001인증기관</span> <span class="f_gray2">(취득일:2018.10.23)</span></p>
</article>
<div class="productList_BTN">
  목록
</div>