<div class="siteMapPage_Hwrap">
    <div class="siteMap_header w1200">
        <h1 class="kbLogo2"><a href="/"><img src="img/siteMapPage/KB_logo_w.png" alt=""></a></h1>
        <div class="siteMap_searchBox">
            <h2>사이트맵</h2>
            <input type="text" class="siteMap_ipt" id="siteMap_ipt_id" placeholder="찾으실 메뉴명을 입력하여 검색하세요">
        </div>
        <a href="/"></a>
    </div>

<div class="siteMap_container">
    <div class="siteMap_innerCon w1200">
        <ul class="siteMap_tabList">
            <li class="siteMap_tabLink active" onclick="SM_tabOpen(event, 'sm_tab1')">예금상품</li>
            <li class="siteMap_tabLink" onclick="SM_tabOpen(event, 'sm_tab2')">대출상품</li>
            <li class="siteMap_tabLink" onclick="SM_tabOpen(event, 'sm_tab3')">고객센터</li>
            <li class="siteMap_tabLink" onclick="SM_tabOpen(event, 'sm_tab4')">상품공시실</li>
            <li class="siteMap_tabLink" onclick="SM_tabOpen(event, 'sm_tab5')">인터넷뱅킹</li>
            <li class="siteMap_tabLink" onclick="SM_tabOpen(event, 'sm_tab6')">kiwibank</li>
        </ul>
        <div class="siteMap_tabcontWrap">
            <ul id="sm_tab1" class="sm_tabcont">
                <li><a class="sm_name" href="/productEplus">정기예금</a></li>
                <li><a class="sm_name"href="">정기적금</a></li>
                <li><a class="sm_name" href="">자유적립예금</a></li>
                <li><a class="sm_name" href="">입출금자유예금</a></li>
            </ul>
            <ul id="sm_tab2" class="sm_tabcont">
                <li><a class="sm_name"href="/productKiwi">kiwi신용대출</a></li>
                <li><a class="sm_name" href="">사잇돌2대출</a></li>
                <li><a class="sm_name" href="">KB햇살론</a></li>
                <li><a class="sm_name" href="">KB스탁론</a></li>
                <li><a class="sm_name" href="">기업대출/PF대출</a></li>
            </ul>
            <ul id="sm_tab3" class="sm_tabcont">
                <li><a href="/faqPage">FAQ</a></li>
                <li><a href="">고객문의 민원</a></li>
                <li><a href="">고객제안</a></li>
                <li><a href="">증명서 발급</a></li>
            </ul>
            <ul id="sm_tab4" class="sm_tabcont">
                <li><a href="/calculator">금융계산기</a></li>
                <li><a href="">상품공시이용메뉴얼</a></li>
                <li><a href="">예금상품</a></li>
                <li><a href="">대출상품</a></li>
                <li><a href="">부대비용</a></li>
            </ul>
            <ul id="sm_tab5" class="sm_tabcont">
                <li><a href="">계좌조회</a></li>
                <li><a href="">즉시이체</a></li>
                <li><a href="">예금신규</a></li>
                <li><a href="">예적금담보대출</a></li>
                <li><a href="">인증센터</a></li>
            </ul>
            <ul id="sm_tab6" class="sm_tabcont">
                <li><a href="">kiwi입출금통장</a></li>
                <li><a href="">KB꿀적금</a></li>
                <li><a href="">통합한도조회</a></li>
                <li><a href="">자동전환대출</a></li>
            </ul>
         </div>
        <div class="siteMap_tabWrap">
            
        </div>
    </div>
</div>
</div>







<script src="js/siteMapPage.js"></script>