input[class="cardIfo"]{
    width: 80%;
}
.write_cancle{
    cursor: pointer;
}
#cWhrite_submitBtn{
    cursor: pointer;
}
.write_select>input[type="file"]{
    line-height: 33px;
}

textarea#card_cont{
    width: 80%;
    height: 48vh;
    margin-top: 8px;
    resize: none;
}