.product_title_wrap{
  background-color: #EFECEC;
  padding-bottom: 75px;
}
.product_tag{
  padding-top: 80px;
}
.titleArea>div>h2.product_title{
  padding: 25px 0 10px;
}
.product_cond{
  display: flex;
}
.squar_wrap{
  margin-right: 50px;
  margin-top: 35px;
  display: flex;
  align-items: center;
}
.product_squar {
  width: 100px;
  height: 65px;
  background: #fff;
  position: relative;
  margin-right: 10px;
}
.product_squar:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid #fff;
  margin-right: 20px;
}
.product_squar:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid #fff;
}
.product_squar{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.squar_wrap:first-child>.product_squar{
  background-image: url(../img/2.solution/people.png);
}
.squar_wrap:nth-child(2)>.product_squar{
  background-image: url(../img/2.solution/wallet.png);
}
.squar_wrap:last-child>.product_squar{
  background-image: url(../img/2.solution/lone.png);
}

.pink{
  color: #D70D6D;
}
.f16{
  font-size: 16px;
}
/* main */
.product_main{
  display: grid;
  grid-template-columns: calc(25% - 10px) calc(25% - 10px) calc(25% - 10px) calc(25% - 10px) ;
	grid-template-rows: auto auto;
  gap: 20px;
  padding-top: 40px;
}
.product_left{
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
}
.product_right{
  grid-column-start: 2;
  grid-column-end: 5;
  width: 100%;
  height: auto
}
.product_left>p::before{
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #666666;
  margin: 15px 0;
}
.product_left>p:first-child{
  color: #846D54;
}
.product_left>ul{
  padding-top: 10px;
}
.product_left>ul>li{
  padding-left:20px;
  background-image: url(../img/product/pdf.png);
  background-repeat: no-repeat;
  background-size: 14px auto;
  background-position-y: center;
}
.product_left>ul>li>a{
  text-decoration: none;
  color: #000;
}
.product_btn{
  display: flex;
  padding-bottom: 51px;
}
.product_btn>li{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 127px;
  height: 55px;
  border-radius: 10px;
  background-color: #FFCF00;
  margin-right: 10px;
}
.product_btn>li>img{
  width: 19px;
  padding-right: 5px;
}
.product_btn>.product_join{
  background-color: #846D54;
  color: #fff
}
.product_section{
  padding-bottom: 30px;
}
.product_section>h3{
  padding-bottom: 10px;
}
.product_notice{
  padding-top: 66px;
}
.product_notice_title{
  display: flex;
  align-items: center;
  background-image: url(../img/2.solution/notice_pink.png);
  background-size: 23px auto;
  background-repeat: no-repeat;
  background-position-y: center;
  padding-left: 35px;
}
.product_notice_title>h3{
  color: #D70D6D;
  padding-bottom: 19px;
}
.pink_line{
  display: block;
  width: 100%;
  height: 2px;
  background-color: #D70D6D;
  margin: 3px 0 30px;
}
.productinfo>li{
  list-style: inside;
}
.product_protect{
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 24px;
  background-color: #FBFBFB;
  border: 1px solid #D2D2D2;
  border-radius: 10px;
  position: relative;
  margin-top: 50px;
  display: flex;
}
.product_protect::before{
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #666666;
  margin-top: -24px;
  position: absolute;
  top: 0;
  left: 0;
}
.protect_right{
  width: 70%;
}
.protect_left{
  background-image: url(../img/product/protect.jpg);
  width: 30%;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
}
.prodect_confir{
  display: flex;
  padding-top: 10px;
}
.prodect_confir>p:first-child{
  padding-right: 20px;
}
.productList_BTN{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 45px;
  background-color: #FFCF00;
  border-radius: 10px;
  margin: 27px auto 190px;
}

@media (max-width:1200px) {
  .product_main {
    grid-template-columns: 0;
    gap: 0;
   }
   .product_right {
    grid-column-start: 1;
  }
   .productdesk{
    display: none;
   }
}
@media (max-width:800px) {
  
  .product_squar {
    width: 70px;
    height: 40px;
    position: relative;
    margin-right: 10px;
  }
  .product_squar:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 15px solid #fff;
    margin-right: 20px;
  }
  .product_squar:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 15px solid #fff;
  }
  .prodect_confir{
    flex-direction: column;
}
.product_protect{
  flex-direction: column;
  }
  .protect_right {
    width: 100%;
  }
  .protect_left {
    width: 100%;
    height: 60px;
    margin-top: 20px;
  }
}
@media (max-width:700px) {
  .product_squar{
    display: none;
  }
  .squar_wrap {
    margin-right: 24px;
  }

}